html, body {
font-family:  "Aeonik",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #111;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
  color: #111;
  line-height: 1.7;
  margin-bottom: 0px;
}

a {
  color: #111;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

a:active, a:hover, a:focus {
  color: #111;
  outline: 0 none;
  text-decoration: none;
}

button {
  background: none;
  outline: 0 none;
  border: none;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.second, .four span {
  color: #0068e0 !important;
}

.third, .five,.seven {
  text-align: center;
}

.third h3 {
  color: #0068e0;
}


.four1 img {
  max-width: 450px;
  max-height: 400px;
}

.seven img {
  max-width: 100px;
  max-height: 100px;
}

.effect {
  position: relative;
}

.effect:before, .effect:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.effect:after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

.effect8 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

/* ====================================================== */
:root {
  --mainColor: #0068e0;
}

.third a, .five a, .six a, .seven a, .eight a {
  background: linear-gradient(to right, var(--mainColor) 0%, var(--mainColor) 5px, transparent 5px);
  background-repeat: repeat-x;
  background-size: 100%;
  color: #000;
  padding-left: 10px;
  text-decoration: none;
}

.third a:hover, .five a:hover, .six a:hover, .seven a:hover, .eight a:hover {
  background: linear-gradient(to right, var(--mainColor) 0%, var(--mainColor) 5px, transparent);
}
/* ================================================= */
.skewed-bg {
  background: rgb(246, 247, 249);
  padding: 200px 0;
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  margin-top: -200px;
}
.skewed-bg .content {
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
  text-align: center;
}
.skewed-bg .content .title {
  padding-top: 100px;
  font-weight: normal;
}
.skewed-bg .content .text {
  width: 60%;
  margin: 25px auto;
  color: #000;
}
.rvskewed-bg {
  background: rgb(246, 247, 249);
  padding: 200px 0;
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
  margin-top: -200px;
}
.rvskewed-bg .content {
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  text-align: center;
}
.rvskewed-bg .content .title {
  padding-top: 100px;
  font-weight: normal;
}
.rvskewed-bg .content .text {
  width: 60%;
  margin: 25px auto;
  color: #000;
}


.footer{
  padding-top: 100px !important;
}
